<html layout:decorate="~{layout}">
<!-- 2-16-3 질문 등록 페이지 -->
<div layout:fragment="content" class="container">
    <h5 class="my-3 border-bottom pb-2">질문등록</h5>
    <!-- 2-16-10 오류 메시지 출력~ -->
    <!-- 3-9-4 질문 등록 탬플릿 수정~ -->
    <form th:object="${questionForm}" method="post">
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
        <!-- ~3-9-4 질문 등록 탬플릿 수정 -->
        <!-- 2-16-18-1 오류 메시지 탬플릿 출력~ -->
		<div th:replace="~{form_errors :: formErrorsFragment}"></div>
		<!-- ~2-16-18-1 오류 메시지 탬플릿 출력 -->
		<!-- ~2-16-10 오류 메시지 출력 -->
        <div class="mb-3">
            <label for="subject" class="form-label">제목</label>
            <!-- 2-16-12-1 오류 처리 시 내용 유지~ -->
            <input type="text" th:field="*{subject}" class="form-control">
            <!-- ~2-16-12-1 오류 처리 시 내용 유지 -->
        </div>
        <div class="mb-3">
            <label for="content" class="form-label">내용</label>
            <!-- 2-16-12-2 오류 처리 시 내용 유지~ -->
            <textarea th:field="*{content}" class="form-control" rows="10"></textarea>
            <!-- ~2-16-12-2 오류 처리 시 내용 유지 -->
        </div>
        <input type="submit" value="저장하기" class="btn btn-primary my-2">
    </form>
</div>
</html>